<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1><%= title %></h1>
                    <span class="subheading">Kết nối với Admin</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Nếu bạn có quán ruột nào ngon mà muốn chia sẻ, đừng ngần ngại gửi thông tin cho mình nhé!</p>
                <ul>
                    <li><strong>Họ tên:</strong> Sinh viên IT</li>
                    <li><strong>Email:</strong> admin@gmail.com</li>
                    <li><strong>Sở thích cá nhân:</strong> Rất đam mê chạy bo nhảy dù trong PUBG, thi thoảng rảnh rỗi cày phim kinh dị trên YouTube. Và đặc biệt là không thích dọn dẹp nấu nướng nên toàn đi ăn ngoài.</li>
                </ul>
            </div>
        </div>
    </div>
</main>

<%- include('layouts/footer') %>